@model Snppts.Infrastructure.IAmASnippet

<div class="col-lg-4 col-md-4 col-sm-6 margin-bottom-20 snppt">

    @if (Model.ImageUris.Any())
    {
        <a asp-area="" asp-controller="Snippets" asp-action="Show" asp-route-slug="@Model.Slug"><img class="snippet__img" src="@Model.ImageUris.FirstOrDefault().AbsoluteUri" /></a>
    }

    <h4 class="text-center"><a asp-area="" asp-controller="Snippets" asp-action="Show" asp-route-slug="@Model.Slug">@Model.Title</a></h4>

    <p class="tags text-center">
        @string.Join(", ", Model.Categories).ToUpper()
    </p>

    <div class="text-center margin-bottom-20 platform-icons">
        @if (Model.ContainsiOSSample)
        {
            <i class="fa fa-apple"></i>
        }
        @if (Model.ContainsAndroidSample)
        {
            <i class="fa fa-android"></i>
        }
        @if (Model.ContainsUWPSample)
        {
            <i class="fa fa-windows"></i>
        }
        @if (Model.GitHubRepoInfo.GetRepoInfo(Snppts.Extensions.SortExtention.GitHubRepos)?.Stars > 0)
        {
            <i class="fa fa-star" style="color: #f1c40f"> @Model.GitHubRepoInfo.GetRepoInfo(Snppts.Extensions.SortExtention.GitHubRepos).Stars</i>
        }
        @*@if (Model.GitHubRepoInfo.GetRepoInfo(Snppts.Extensions.SortExtention.GitHubRepos)?.UpdatedAt != null)
        {
            <p>
                <span style="text-transform:uppercase; font-weight:bold; font-size:xx-small"> @Model.GitHubRepoInfo.GetRepoInfo(Snppts.Extensions.SortExtention.GitHubRepos).UpdatedAt.ToString("MMM/yyyy")</span>
            </p>
        }*@
    </div>
</div>