@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using X.PagedList;
@using Snppts.Extensions;


@model IEnumerable<Snppts.Infrastructure.IAmASnippet>

@{

    var author = Model?.FirstOrDefault()?.AuthorInfo;

ViewData["Title"] = string.IsNullOrEmpty(author?.FirstName) ? "Author not found" : "By " + author?.FirstName + " " + author.LastName;

var authorLinks = "";

if (!string.IsNullOrEmpty(author?.Website?.Host))
{
    authorLinks += "<a href='" + author.Website.AbsoluteUri + "' target='_blank'><i class='fa fa-globe'></i> " + author.Website.Host + "</a> | ";
}

if (!string.IsNullOrEmpty(author?.GitHubHandle))
{
    authorLinks += "<a href='https://github.com/" + author.GitHubHandle + "' target='_blank'><i class='fa fa-github'></i> " + author.GitHubHandle + "</a> | ";
}

if (!string.IsNullOrEmpty(author?.TwitterHandle))
{
    authorLinks += "<a href='https://twitter.com/" + author.TwitterHandle + "' target='_blank'><i class='fa fa-twitter'></i> " + author.TwitterHandle + "</a>";
}
}

@if (Model.Count() > 0)
{
    <div class="row">

        <div class="row">

            <img src="@author.GravatarImage()" class="circle pull-left author__gravatar" />

            <h5 class="title">Snippets by @author.FirstName @author.LastName</h5>

            @if (!string.IsNullOrEmpty(authorLinks))
        {
            <h6>
                    @Html.Raw(authorLinks)
                </h6>
        }
            <div class="separator-2"></div>

        </div>


        @{
        var count = 0;
    }

        <div class="row">
            @foreach (var item in Model)
        {
            if (count % 3 == 0)
            {
                @Html.Raw("</div><div class=\"row\">")
            }

            count += 1;

            <partial name="Partials/_SnippetListItem" model="@item" />
        }
        </div>
    </div>
    <div class="row pager">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
    {
        LinkToNextPageFormat = "»",
        LinkToPreviousPageFormat = "«",
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
        MaximumPageNumbersToDisplay = 0,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
    </div>
}
else
{
    <div class="row">
        <div class="main col-md-6 col-md-offset-3 pv-40">
            <h2>Oops... Author not found!</h2>
            <p>
                You can always submit your own snippets!
                Want to know how? Learn more on our "How to Contribute" page.
            </p>
            <a href="/how-to-contribute" class="btn btn-default btn-animated">Contribute <i class="fa fa-edit"></i></a>
        </div>
    </div>
}